<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate news article with Meaning Cloud</title>
    </head>

    <body>

        <header>
                <div class="title">
                    <h1>Sentiment Analysis</h1>
                    <h2>Evaluate a news article with Natural Language Processing</h2>
                </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Please enter a URL to an article or blog here:">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="error"></div>
                <div id="model"></div>
                <div id="score"></div>
                <div id="agreement"></div>
                <div id="subject"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            <p>developed using Meaning Cloud API, Udacity Project by Patrizia Rohr</p>
        </footer>

    </body>
</html>
