body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
    ;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 50px;
    color: #343434;
}

#results {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    padding: 10px;
    color: #ff0062;
}


